body {
  background-color: #222020;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
}

#gradient-color {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  z-index: 1;
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(aquamarine),
    to(mediumpurple)
  );
  background: white;
  -webkit-animation: rotate 20s infinite;
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  -webkit-backdrop-filter: blur(12vmax);
  backdrop-filter: blur(12vmax);
}
